<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/publico/css/crud.css" rel="stylesheet">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">
</head>
<body>
    
<main>
    <button type="button" class="btn btn-success">Adicionar Avaliação +</button>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data</th>
              <th scope="col">Etapa</th>
              <th scope="col">Título</th>
              <th scope="col">Tipo</th>
              <th scope="col">Peso</th>
              <th scope="col">Forma de Cálculo</th>
              <th scope="col">Valor Maxímo</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>10/02/2005</td>
              <td>1º parcial</td>
              <td>A Sociedade Brasileira</td>
              <td>Projeto</td>
              <td>-</td>
              <td>Soma Direta</td>
              <td>10</td>
              <td><button><img class="icons" src="/publico/imagens/icons8-edit-24.png" alt="Editar"></button></td>
              <td><button><img class="icons" src="/publico/imagens/icons8-lixeira-cheia-50.png" alt="Excluir"></button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>10/02/2005</td>
                <td>1º parcial</td>
                <td>A Sociedade Brasileira</td>
                <td>Projeto</td>
                <td>-</td>
                <td>Soma Direta</td>
                <td>10</td>
                <td><button><img class="icons" src="/publico/imagens/icons8-edit-24.png" alt="Editar"></button></td>
              <td><button><img class="icons" src="/publico/imagens/icons8-lixeira-cheia-50.png" alt="Excluir"></button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>10/02/2005</td>
                <td>1º parcial</td>
                <td>A Sociedade Brasileira</td>
                <td>Projeto</td>
                <td>-</td>
                <td>Soma Direta</td>
                <td>10</td>
                <td><button><img class="icons" src="/publico/imagens/icons8-edit-24.png" alt="Editar"></button></td>
              <td><button><img class="icons" src="/publico/imagens/icons8-lixeira-cheia-50.png" alt="Excluir"></button></td>
            </tr>
            
          </tbody>
      </table>
</main>

<script src="/jquery/jquery.slim.min.js"></script>
<script src="/popperjs/popper.min.js"></script>
<script src="/bsjs/bootstrap.min.js"></script>
<script src="/mask/jquery.mask.js"></script>
<script src="/publico/js/JaspionSarado.js"></script>

</body>
</html>